/*Carbon Ads*/

#carbonads {
  display: block;
  overflow: hidden;
  padding: 1em;
  font-size: .7em;
  line-height: 1.5;
}

  #carbonads a {
     text-decoration: none;
     color: #000000;
}

  #carbonads span {
    display: block;
    overflow: hidden;
  }

  .carbon-text {
    display: block;
    float: left;
    max-width: 50%;
    text-align: left;
  }

  .carbon-img {
    float: left;
    margin-right: 1em;
  }

  .carbon-poweredby {
    display: block;
    margin-top: -1.9em;
    text-align: right;
    font-size: .8em;
  }

/* regular site */

header {
    background-color: #F0F0F0;
    border-bottom: 1px solid #707070;
    margin-bottom: 15px;
}

.nav-link {
    color: #707070;
}

.header-image {
    background: url(/images/kevin-theater.jpg) no-repeat center center;
    height: 300px;
}

.header-text {
    color: #FFFFFF;
    padding-top: 130px;
    text-align: center;
}

#main p{
    font-size: 16pt;
}