<!-- Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
    <system.webServer>
       <urlCompression doStaticCompression="true" doDynamicCompression="true" />
       <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
       </staticContent>>
    <httpCompression>
        <dynamicTypes>
            <clear />
            <add enabled="true" mimeType="text/*"/>
            <add enabled="true" mimeType="message/*"/>
            <add enabled="true" mimeType="application/x-javascript"/>
            <add enabled="true" mimeType="application/javascript"/>
            <add enabled="true" mimeType="application/json"/>
            <add enabled="false" mimeType="*/*"/>
            <add enabled="true" mimeType="application/atom+xml"/>
            <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
        </dynamicTypes>
        <staticTypes>
            <clear />
            <add enabled="true" mimeType="text/*"/>
            <add enabled="true" mimeType="message/*"/>
            <add enabled="true" mimeType="application/javascript"/>
            <add enabled="true" mimeType="application/atom+xml"/>
            <add enabled="true" mimeType="application/xaml+xml"/>
            <add enabled="true" mimeType="application/json"/>
            <add enabled="false" mimeType="*/*"/>
        </staticTypes>
    </httpCompression>
    </system.webServer>
</configuration>