<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Articles | Kevin Griffin | Developer, Trainer, Entreprenuer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    {{> header}}

    <div class="container">
    <ul>
        {{#each site.posts.data as |post|}}
        <li>
            <a href="{{url_for post.path}}">{{post.title}}</a>
        </li>
        {{/each}}
    </ul>
    </div>
    {{> footer}}
</body>
</html>