<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kevin Griffin | Developer, Trainer, Entreprenuer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    {{> header}}

    <div class="container" id="main">
        <div class="row">
            <div class="col">
                <h2>Does your project need a swift kick?</h2>
                
                <p>Hello there! My name is Kevin Griffin. I run a software consultancy based out of Chesapeake, VA specializing helping businesses and teams get that "Swift Kick" in the butt they need.</p>

                <h3>Twilio Blueprint</h3>
                <p>I am the author of <a href="https://twilioblueprint.com">Twilio Blueprint</a>, a guide for software developers who want to design and implement voice and SMS integration into their applications through the use of the <a href="https://twilio.com">Twilio</a> platform.</p>
                
                <h3>RevolutionConf</h3>
                <p>I am a co-organizer for <a href="https://revolutionconf.com">RevolutionConf</a>, a 2-day platform and technology agnostic developer conference held in Virginia Beach, VA.</p>
                <p>Currently, we are ramping up for our second year on June 1-2, 2017.  We are looking forward to 500 attendees, 50 amazing speakers, 4 workshops, and a luau on the beach!</p>

                <h3>RevolutionVA</h3>
                <p>My work on great conferences like RevolutionConf, Hampton Roads DevFest, and Camp Azure is all because of my contributions to RevolutionVA, a 501c3 non-profit designed to help promote developer education and careers in Virginia.  You can learn more about RevolutionVA at <a href="https://revolutionva.org">https://revolutionva.org</a> </p>
            </div>  
            <div class="col-4">
                {{> sidebar }}
            </div>
        </div>
    </div>
</body>

</html>