<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kevin Griffin | Developer, Trainer, Entrepreneur</title>

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Kevin Griffin | Developer, Trainer, Entrepreneur" />
    <meta property="og:url" content="{{page_url url}}" />
    <meta property="og:type" content="article" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Kevin Griffin | Developer, Trainer, Entrepreneur" />
    <meta name="twitter:description" content="Kevin Griffin is a father, husband, software developer, entrepreneur, and author based out of Chesapeake, VA." />
    <meta name="twitter:url" content="{{page_url url}}" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"> {{> styles}}

</head>

<body class="no-trans front-page">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">

        {{> header}}

        <!-- main-container start -->
        <!-- ================ -->
        <section class="main-container">

            <div class="container">
                <div class="row">

                    <!-- main start -->
                    <!-- ================ -->
                    <div class="main col-md-8">

                        <!-- page-title start -->
                        <!-- ================ -->
                        <h1 class="page-title">Hi There! I'm Kevin.</h1>
                        <div class="separator-2"></div>
                        <p class="lead">Thanks so much for checking out my little piece of the interweb. I am a father, husband, software
                            developer, entrepreneur, and author based out of Chesapeake, VA.</p>
                        <img src="/images/kevin-min.jpg" style="margin-left: auto; margin-right: auto;" title="Me and my boys" />
                        <br />
                        <p>On this site, you will find refereces to many of the projects I have going on plus a variety of articles
                            I've written throughout the years.</p>
                        <p>I would love to connect with you! I am active on Twitter <a href="https://twitter.com/1kevgriff">@1kevgriff</a>.</p>
                        <!-- page-title end -->
                    </div>
                    <!-- main end -->

                    {{> sidebar}}

                </div>
            </div>
        </section>
        <!-- main-container end -->

        <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
        <!-- ================ -->
        <footer id="footer" class="clearfix ">

            <!-- .subfooter start -->
            <!-- ================ -->
            <div class="subfooter">
                <div class="container">
                    <div class="subfooter-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">Copyright © 2019 Kevin Griffin - All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .subfooter end -->

        </footer>
        <!-- footer end -->

    </div>
    <!-- page-wrapper end -->

    {{> scripts}}
</body>

</html>