<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-4 col-lg-3 col-lg-offset-1">
    <div class="sidebar">
        <div class="block clearfix">
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz
    <http://cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz>" id="_carbonads_js"></script>
        </div>

        <div class="block clearfix">
            <h3 class="title">Latest News</h3>
            <div class="separator-2"></div>

            <div class="media margin-clear">
                <div class="media-body">
                    <h6 class="media-heading"><a href="blog-post.html">Title goes here</a></h6>
                    <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>
                </div>
                <hr>
            </div>
        </div>
        <div class="block clearfix">
            <h3 class="title">Text Sample</h3>
            <div class="separator-2"></div>
            <p class="margin-clear">Debitis eaque officia illo impedit ipsa earum <a href="#">cupiditate repellendus</a> corrupti nisi nemo, perspiciatis
                optio harum, hic laudantium nulla maiores rem sit magni neque nihil sequi temporibus. Laboriosam ipsum reiciendis
                iste, nobis obcaecati, a autem voluptatum odio? Recusandae officiis dicta quod qui eligendi.</p>
        </div>
        <div class="block clearfix">
            <form role="search">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Search">
                    <i class="fa fa-search form-control-feedback"></i>
                </div>
            </form>
        </div>
    </div>
</aside>
<!-- sidebar end -->



{{!--
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz
    <http://cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz>" id="_carbonads_js"></script>

<hr />

<h3>Recent Articles</h3>
{{{recent_posts 10 }}}--}}