<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-4 col-lg-3 col-lg-offset-1">
    <div class="sidebar">
        <div class="block clearfix">
            <h3 class="title">Sponsored by</h3>
            <div class="separator-2"></div>
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz
    <http://cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz>" id="_carbonads_js"></script>
        </div>

        {{!--<div class="block clearfix">
            <h3 class="title">RevolutionConf 2017</h3>
            <div class="separator-2"></div>
            <p class="margin-clear">Come hang out with me and 500 of your closest friends in beautiful Virginia Beach, VA on June 1st and 2nd.  RevolutionConf is a language and platform agnostic developer conference designed to educate and unite developers of all backgrounds.</p>
            <p><a href="https://revolutionconf.com">https://revolutionconf.com</a></p>
            <p>
                <p class="margin-clear">
                    <a href="https://revolutionconf.com">
                        <img src="/images/revolutionconf-min.png" title="RevolutionConf" /></a>
                </p>
        </div>--}}

        <div class="block clearfix">
            <h3 class="title">Buy My book</h3>
            <div class="separator-2"></div>
            <p class="margin-clear">Learn how to developer Voice and SMS-enabled applications using the Twilio Platform.</p>
            <p>
                <p class="margin-clear">
                    <a href="https://twilioblueprint.com">
                        <img src="/images/kev3d-min.PNG" title="Twilio Blueprint" /></a>
                </p>
        </div>

        <div class="block clearfix">
            <h3 class="title">2 Frugal Dudes Podcast</h3>
            <div class="separator-2"></div>
            <p class="margin-clear">Together with my friend, Sean Merron, I hosted a weekly podcast about personal finance in laymans terms.  Check out 2 Frugal Dudes! </p>
            <p>
                <p class="margin-clear">
                    <a href="http://2frugaldudes.com">
                        <img src="/images/2fd-min.PNG" title="2 Frugal Dudes" /></a>
                </p>
        </div>
    </div>
</aside>
<!-- sidebar end -->



{{!--
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz
    <http://cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz>" id="_carbonads_js"></script>

<hr />

<h3>Recent Articles</h3>
{{{recent_posts 10 }}}--}}