<!-- sidebar start -->
<!-- ================ -->
<aside class="col-md-4 col-lg-3 col-lg-offset-1">
    <div class="sidebar">
        <div class="block clearfix">
            <h3 class="title">Sponsored by</h3>
            <div class="separator-2"></div>
            <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz
    <http://cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz>" id="_carbonads_js"></script>
        </div>

        {{!--
        <div class="block clearfix">
            <h3 class="title">Latest News</h3>
            <div class="separator-2"></div>

            <div class="media margin-clear">
                <div class="media-body">
                    <h6 class="media-heading"><a href="blog-post.html">Title goes here</a></h6>
                    <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>
                </div>
                <hr>
            </div>
        </div>--}}
        <div class="block clearfix">
            <h3 class="title">Buy My book</h3>
            <div class="separator-2"></div>
            <p class="margin-clear">Learn how to developer Voice and SMS-enabled applications using the Twilio Platform.</p>
            <p>
                <p class="margin-clear">
                    <a href="https://twilioblueprint.com">
                        <img src="/images/kev3d.PNG" title="Twilio Blueprint" /></a>
                </p>
        </div>
    </div>
</aside>
<!-- sidebar end -->



{{!--
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz
    <http://cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz>" id="_carbonads_js"></script>

<hr />

<h3>Recent Articles</h3>
{{{recent_posts 10 }}}--}}