<script async type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz
    <http://cdn.carbonads.com/carbon.js?zoneid=1698&serve=CVYD42E&placement=kevgriffincombiz>"
    id="_carbonads_js"></script>

<hr />

<h3>Recent Articles</h3>
{{{recent_posts 10 }}}